



body{
    padding-left: 10%;
    margin: 0;
    background-color: grey;
}

footer{
    background-color: white;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
}

*{
    font-family: sans-serif;
}

h1{
    font-size: clamp(1vw, 1.5vw, 2vw);
}



h2{
    font-size: clamp(1vw, 1.5vw, 2vw);
}

p, label{
    font-size: 0.7em;
    font-weight: lighter;
    line-height: 1.25em;
    text-align: justify;
    letter-spacing: .03em;
}
a{
    text-decoration: none;
    color: black;
}


button{
    background-color: greenyellow;


}

.main-body{
    margin: 0;
    display: flex;
    height: 300rem;
    width: 75%;
    background-color: white;
    justify-content: center;


}

.primary-body{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.secondary-body{
    background-color: rgb(248, 248, 233);
    width: 65%;
    height: 100%;
}


.input-row{
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.input-fields{
    width: 25%;
    min-width: 25%;
    height: 5%;
}


.explanation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.explanation h1{
    color: rgb(52, 18, 226);
}

.result{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    background-color: rgb(250, 250, 202);
    border-radius: 10px;
    padding: 2%;

}


@media screen and (max-width: 700px){
    label, p{
        font-size: 0.5rem;
    }

    
}

.my-chart{
    width: 95% !important;
    margin-top: 5%;
}



.readings{
    width: 80%;
    padding: 2%;
}

.readings div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 10px;
    margin-bottom: 5%;
    border-bottom: 1px solid black;
    padding-bottom: 5%;


}

.readings h1{
    color: rgb(52, 18, 226);

}

.first-image{
    width: 100%;

}

.formula{
    background-color: rgb(255, 255, 255);
    padding: 5%;
    border-left: 20px solid rgb(78, 244, 78);
}


.nav{
    width: 75%;
    justify-content: space-evenly;
    background-color: black;
    display: flex;
    height: 3vw;
    align-items: center;
}

.nav li {
    list-style: none;
    font-size: clamp(1vw, 1.5vw, 2vw);
    border-radius: 50px;
    padding: 5px;


  }
  
  /* :hover allows you change the background color of the nav items when you mouse over them. Play around with the transition value to change the speed of the hover transition. */
  .nav li:hover {
    background: red;
    transition: background .3s;
  }


  
  /* This rule is applied to the link <a> tag. It lets you turn off the link underline and set the link text color. */
  .nav-link {
    color: #fff;
    text-decoration: none;

  }


  .container{
    display: flex;
    flex-direction: column;
    width: 100%;

}

blockquote{
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote::before{
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
  }


.einstain{
    width: 80%;
    margin: 1.5em 10px;
}


.currency-div{
    display: flex;
    border: 1px solid black;
    padding: 0;
    max-width: 45%;


}

.currency-div span{
    background-color: rgb(223, 215, 215);
    width: 12%;
    text-align: center;
    border-right: 1px solid black;
}


.currency-field{
    width: 88%;
    border: white;
}


.currency-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 10%;
}




.social-media{
    display: flex;
    justify-content: space-between;
    width: 25%;
    padding-bottom: 1%;
}

.faq-body{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.faq-div{
    margin-bottom: 5%;
}