



body{
    margin: 0;
    display: flex;
    flex-direction: column;


}



footer{
    background-color: inherit;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid grey;
    margin-left: 10%;
}

*{
    font-family: sans-serif;
}

h1{
    font-size: clamp(2vw, 2em, 2.5em);
}



h2{
    font-size: clamp(1em, 2em, 2.5em);
}

p, label, li, ul{
    font-size: 1em;
    font-weight: lighter;
    line-height: 2em;
    text-align: justify;
    letter-spacing: .03em;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}


button{
    background-color: greenyellow;


}

.main-body{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: inherit;
    align-items: center;



}

.primary-body{
    width: 75%;
    display: flex;
    flex-direction: column;
    background-color: inherit;
    margin-bottom: 5%;
    max-width: 800px;

}

.secondary-body{
    background-color: inherit;
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    align-items: center;


}



.input-row{
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.input-fields{
    width: 25%;
    max-width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}


.explanation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




.result{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 2%;

}



@media screen and (max-width: 800px){
    label, p{
        font-size: 0.5rem;
    }

    
}

.my-chart{

    margin-top: 5%;

}



.readings{
    width: 75%;

}




.readings div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 10%;
    padding-bottom: 5%;



}

.readings div p{
    width: 100%;

}



.first-image{
    width: 50%;
    border-radius: 5%;

}

.formula{  
    padding: 3%;
    border-left: 15px solid rgb(202, 202, 202);

}












.einstain{
    width: 80%;
    margin: 1.5em 10px;
}


.currency-div{
    display: flex;
    padding: 0;
    width: 30%;
    justify-content: space-between;
    border-radius: 5px;





}



.currency-div span{

    width: 16%;


    margin: 0;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    

}


.currency-field{
    width: 84%;
    margin: 0;
    max-width: calc(100%);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}


.currency-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 10%;

}




.social-media{
    display: flex;
    justify-content: space-between;
    width: 25%;
    padding-bottom: 1%;
}

.faq-body{
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    margin-bottom: 5%;
}

.faq-div{
    margin-bottom: 5%;
}

.main-body-not-home{
    margin: 0;
    display: flex;
    height: 100rem;
    width: 100%;
    background-color: white;
    justify-content: center;
}

.website-offers{
    align-items: center;
    padding-right: 8%;
    justify-content: center;

    display: flex;
    flex-direction: column;
}


.social-icons{
    display: flex;
    width: 75%;
    padding-right: 5%;
    justify-content: space-between;
}
.social-icons li{
    list-style: none;
    transition: 0.3s;

}
.social-icons li:hover{
    box-shadow: 10px 10px grey;
    border-radius: 15px;
    padding: 1%;

}

.social-media-about{
    align-items: center;

}

.social-icons li a{
    display: flex;
    flex-direction: column;
    align-items: center;

    
}




  
  .container1 {
    background-color: inherit;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
    border: 2px solid grey;
  }

  
  .form-group {
    margin-bottom: 25px;
    position: relative;
  }
  
  .container1 label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;

  }
  
  .container1 input,
  textarea {
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;

  }
  
  .container1 input:focus,
  textarea:focus {
    outline: none;
    background-color: #e0e0e0;
  }
  
 

.quotes{
    display: flex;
    flex-direction: row !important;
    height: 100%;
    margin-bottom: 5%;

}

.quotes div{
    border-bottom: 1px solid black;
}

@media screen and (max-width: 1000px){
    .quotes{

        flex-direction: column !important;
        align-items: center;
        margin-bottom: 20%;
        

    
    }


    
}

@media screen and (max-width: 600px){
    .important-links{
        font-size: 65% !important;
    }

    h1{
        font-size: 0.8em;
    }

    li{
        font-size: 0.5em; 
    }
}